.post{
    background: mediumvioletred;
    /*for common div*/
    padding: 8px 20px 20px;
    /*for post*/
    /*padding-top: 3px;*/
    width:550px;
    height:97px;
    font-weight: 400;
    font-family: Roboto;
    font-size: 13px;
    color: black;
}