*{
  padding:0;
  margin:0;
}
a{
  text-decoration: none;
  color:white;
}
.wrapper{
  width:1600px;
  margin:0 auto;

}
.main_content{
  /*margin-top:15px;*/
  width:965px;
  /*background: chocolate;*/
  margin:15px auto 0;
  display:flex;
}

