*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:white;
}
.wrapper{
  width:100vm;
}
.different_content{
  /*margin-top:15px;*/
  /*background: chocolate;*/

  /*width:965px;*/
  margin:15px auto 0;
  display:flex;
}
.main_content{
  /*max-width:552px;*/
  /*width:auto;*/

  /*width:552px;*/
  background: chartreuse;
  margin-right:15px;
}
@media screen and (min-width: 953px ) {
  .different_content{
    max-width:965px;
  }
  .main_content{
    width:552px;
  }
}
@media screen and (min-width: 800px ){
  .wrapper{
    margin:0 auto;
    max-width:1600px;
  }
}
@media screen and (min-width: 740px ){
  .different_content{
    width:calc(100% - 30px);
  }
  .main_content{
    width:552px;
  }
}


